* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

/* HEADER */
.header {
    width: 100%;
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.menu a:hover {
    color: #00c3ff;
    transition: 0.3s;
}

.perfil img {
    border: 2px solid white;
    width: 0px;
}

/* SECCIONES */
.vista {
    width: 90%;
    margin: 30px auto;
}

.oculto {
    display: none;
}

/* DESTINOS */
#seccion-destinos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.item img {
    width: 100%;
    border-radius: 10px;
}

/* TEXTO INICIO */
.texto-largo {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

/* CONTACTO */
.form-contacto {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.form-contacto input,
.form-contacto textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-contacto button {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

.form-contacto button:hover {
    background: #005fcc;
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
